:root {
  --cell-size: 3rem;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 1.5rem;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  text-align: center;
}
